[bumpversion]
current_version = v0.3.0-20180709
parse = v(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)\-\d+
serialize = v{major}.{minor}.{patch}-{now:%Y%m%d}

[bumpversion:file:procs/script_table.sql]

[bumpversion:file:procs/script_object_definition.sql]

